<h1> All Restaurants </h1> <br>
<p> Here is your list of restaurants in Boston. Some are cheap, some are pricey, they are all delicious.</p>

<div class = "table">
<table>
<<tr>
			<td>
			name
			</td>
			<td>
			cuisine
			</td>
			<td>
		 restaurant.address
			</td>
			<td>
		restaurant.price 
			</td>
			<td>
			restaurant.rating 
			</td>
			<td>
			restaurant.telephone
			</td>
			
			
		</tr>
	<% for restaurant in @restaurants %>
		<tr>
			<td>
			<%= restaurant.name %>
			</td>
			<td>
			<%= restaurant.cuisine%>
			</td>
			<td>
			<%= restaurant.address %>
			</td>
			<td>
			<%= restaurant.price %>
			</td>
			<td>
			<%= restaurant.rating %>
			</td>
			<td>
			<%= restaurant.telephone %>
			</td>
		<% if restaurant.owner == current_owner %>
		<td><%= link_to 'Edit', edit_restaurant_path(restaurant)%></td>
		<td><%= link_to 'Destroy', restaurant, method: :delete, data: {confirm: 'Are you sure?'} %></td>
		<% end %>
		</tr>
		<br>
	<% end %>
</table>
<br>
<br>

<%= link_to "Add New Restaurant", new_restaurant_path %>

</div>

