<h1> Here are the details of your chosen restaurant </h1>

<div class ="name">
	Name: <%= @restaurant.name %>
</div>
<div class ="cuisine">
	Cuisine: <%= @restaurant.cuisine %>
</div>
<div class ="telephone">
	Telephone: <%= @restaurant.telephone %>
</div>
<div class ="email">
	Email: <%= @restaurant.email %>
</div>
<div class ="address">
	Address: <%= @restaurant.address %>
</div>

</div>
<div class ="price">
	Price: <%= @restaurant.price %>
</div >
<div class ="rating">
	Rating: <%= @restaurant.rating %>
</div>

<p>
	<%= link_to "Add a Reservation", new_restaurant_reservation_path(restaurant_id: @restaurant) %>
</p>

<%for reservation in @reservations do %>
<table>
	<tr>
		<td>
			<%= reservation.guestname %>
		</td>

		<td>
			<%= reservation.TimeDate %>
		</td>

		<td>  
			<%= reservation.guests %>
		</td>

	</tr>
</table>
<% end %>



<%= link_to "Back", restaurant_path %>
<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>

<%= link_to "Delete this restaurant", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you certain ?"} %>